{
    "extends": "./node_modules/60frames-coding-standards/.eslintrc-node",
    "env": {
    	"es6": true
    },
    "rules": {
        "valid-jsdoc": 0,
        "func-style": [2, "declaration", { "allowArrowFunctions": true }]
    }
}
