language: node_js
node_js:
  - 6
cache:
  directories:
    - node_modules
sudo: false
branches:
  only:
    - master
script:
  - npm test
  - npm run build
after_success:
  - 'cat ./coverage/lcov.info | ./node_modules/.bin/coveralls'
